

.game{
    padding: 80px 20px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.game-item{
    position: relative;
    background: #563e7a;
    width: fit-content;
    padding: 8px;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.game-item img{
    width: 150px;
    height: 150px;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}
.game-item p{
    position: absolute;
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.game-item:hover p{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.game-item:hover img{
    filter: brightness(0.6);
}
.game-item:hover {
    transform: scale(1.1);
}
.tictactoe-game-heading{
    width: 100%;
    font-size: 30px;
    font-family: 'chocolatepudding';
    margin: 10px 0px;
}