

.game{
    padding: 80px 20px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.game-item{
    position: relative;
    background: #563e7a;
    width: fit-content;
    padding: 8px;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.game-item img{
    width: 150px;
    height: 150px;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}
.game-item p{
    position: absolute;
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.game-item:hover p{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.game-item:hover img{
    filter: brightness(0.6);
}
.game-item:hover {
    transform: scale(1.1);
}
.tictactoe-game-heading{
    width: 100%;
    font-size: 30px;
    font-family: 'chocolatepudding';
    margin: 10px 0px;
}

/* tictactoe------------------------------------------------- */

.tictactoe{
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tictactoe-gamebox{
    position: relative;
    display: grid;
    background-color: gainsboro;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    width: -moz-fit-content;
    width: fit-content;
    grid-gap: 10px;
    padding: 10px;
    background: var(--color-dark);
}
.tictactoe-gamebox div{
    position: relative;
    cursor: pointer;
    background: var(--color-dark-down);
    box-shadow: 3px 3px 5px var(--color-biscuit);
}
.tictactoe-gamebox div span{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 54px;
    color: var(--color-light-down);
}
.tictactoe-gamebox >p{
    position: absolute;
    height: 5px;
    background-color: #a7cb00;
    transform-origin: center;
    transition: width 0.5s ease-in-out;
    border-radius: 5px
}
.tictactoe-gameinfo {
    display: flex;
    gap: 20px;
    margin: 8px 0px;
}
.tictactoe-gameinfo p{
    font-family: 'Raleway';
    font-weight: bold;
    background: var(--color-dark-down);
    color: var(--color-light-down);
    padding: 8px 30px;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.tictactoe-gameinfo img{
    width: 35px;
    filter: invert(1);
    background: var(--color-lilac);
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}