.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    width: 95%;
    align-items: center;
    color: white;
    padding: 10px 20px;
    height: 50px;
}
.header-title{
    flex: 1;
}
.header-title a{
  text-decoration: none;
  width: 200px;
  text-align: center;
}
.header-title a span:hover{
  text-shadow: 2px 3px red;
}
.header-title a span{
  font-size: 32px;
  font-weight: bold;

  font-family: 'chocolatepudding';
  color: transparent;
  transition: all 0.3s ease-in-out;
}

.header-ul{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    transition: all 0.4s ease-in-out;
}
.header-ul li a{
  text-decoration: none;
  font-size: 21px;
  letter-spacing: 0.5px;
  font-family: 'Optien-font';
  font-weight: 200;
  transition: all 0.3s ease-in-out;
}
.header-ul li a:hover{
  text-decoration: underline wavy rgb(114, 202, 218);
  transition: all 0.3s ease-in-out;
}
.header-ul li a.active{
  text-decoration: underline wavy rgb(114, 202, 218);
}
.header-ul li{
  position: relative;
    list-style: none;
    padding: 8px;
}



.header-switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.header-switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

 .header-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  border: 2px solid white;
  background: linear-gradient(45deg, #000000, white);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
 .header-switch .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, #ffff00, #fff2af);
    transition: all 0.4s ease-in-out;
    border-radius: 50%;
  }
  .header-switch input:checked + .slider {
    background: linear-gradient(45deg, #000000, #fff2af);
  }
  
 .header-switch input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background: linear-gradient(45deg, #ffffff, #00807e);
  }
.menu-icon{
    padding: 2px;
    border-radius: 8px;
  width: 30px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width:800px) {
  .menu-icon{
    display: inherit;
  }
  .header-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header-ul{
    position: absolute;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    top: 60px;
    left: 0px;
    background-color: #ae8fdb;
    width: 100%;
  } 
}
@media only screen and (max-width:500px) {
 .header{
  padding:10px 10px ;
 }
}
  