.hero{
    display: grid;
    grid-template-columns: 6fr 10fr;
}
/* .hero-left{

} */
.hero-right{
    position: relative;
    padding: 80px;

}
.hero-right-content button{
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 7px 10px;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(45deg,#dad9b7,#c834a4);
    cursor: pointer;
    margin: 25px 0px;
    transition: filter 0.33s ease-in-out;
}
.hero-right-content button:hover{
  filter: invert(1);
}
/* .hero-right-content{

} */
.hero-right p{   
    font-family: 'Bonheur Royale', cursive;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    transform-origin: bottom left;

}
.hero-right-content h1{
    font-family: 'Lilita One', cursive;
    font-size: 40px;
    word-spacing: 10px;
    letter-spacing: 2px;
    line-height: 50px;
}
@media only screen and (max-width:800px) {
    .hero{
        display: flex;
    }
  .hero-left{
    display: none;
  }   
}
@media only screen and (max-width:500px) {
  .hero-right{
    padding: 70px 20px;
  }
}