


.hero{
    display: grid;
    grid-template-columns: 6fr 10fr;
}
.hero-left{
  position: relative;
}
.hero-left>img{
  position: absolute;
  width: 200px;
  top: 150px;
  right: -50px;
  z-index: 11;
}
.hero-left video{
  width: 300px
}
.hero-right{
    display: flex;
    align-items: center;
    position: relative;
    padding: 80px;
    height: 100vh;

}
.hero-right-content button{
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 7px 10px;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(45deg,#dad9b7,#c834a4);
    cursor: pointer;
    margin: 25px 0px;
    transition: filter 0.33s ease-in-out;
}
.hero-right-content button:hover{
  filter: invert(1);
}
/* .hero-right-content{

} */
.hero-right p{   
    font-family: 'heartofever';
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    transform-origin: bottom left;

}
.hero-right-content h1{
  font-family: 'Optien-font';
  font-weight: 1000;
  font-size: 35px;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 45px;
}
@media only screen and (max-width:800px) {
    .hero{
        display: flex;
    }
  .hero-left{
    display: none;
  }   
}
@media only screen and (max-width:500px) {
  .hero-right-content h1{
    font-size: 30px;
  }
  .hero-right{
    padding: 70px 20px;
    padding-bottom: 20px;
  }
}