

.technology-images{
    display: flex;
    gap: 40px;
    background: wheat;
    width: 500px;
    overflow: hidden;
    /* animation: scroll 100s linear infinite ; */
}
.technology-images:hover{
    animation-play-state: paused;
}

.technology-images img{
    perspective: 10px;
    width: 90px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    background: var(--color-light-fade);
}
.technology-images img:hover{
    transform: translateZ(20px);
}

@keyframes scroll{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-500px);
    }
}