

.tictactoe{
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tictactoe-gamebox{
    position: relative;
    display: grid;
    background-color: gainsboro;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    width: -moz-fit-content;
    width: fit-content;
    grid-gap: 10px;
    padding: 10px;
    background: var(--color-dark);
}
.tictactoe-gamebox div{
    position: relative;
    cursor: pointer;
    background: var(--color-dark-down);
    box-shadow: 3px 3px 5px var(--color-biscuit);
}
.tictactoe-gamebox div span{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 54px;
    color: var(--color-light-down);
}
.tictactoe-gamebox >p{
    position: absolute;
    height: 5px;
    background-color: #a7cb00;
    transform-origin: center;
    transition: width 0.5s ease-in-out;
    border-radius: 5px
}
.tictactoe-gameinfo {
    display: flex;
    gap: 20px;
    margin: 8px 0px;
}
.tictactoe-gameinfo p{
    font-family: 'Raleway';
    font-weight: bold;
    background: var(--color-dark-down);
    color: var(--color-light-down);
    padding: 8px 30px;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.tictactoe-gameinfo img{
    width: 35px;
    filter: invert(1);
    background: var(--color-lilac);
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}