.workshop {
  padding: 80px 20px;
}
.workshop-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.workshop-card {
    width: 350px;
    border-radius: 8px;
  }
  .workshop-card div:nth-child(1) {
    padding: 15px 10px;
  }
  .workshop-card div:nth-child(1) h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 900;
  }
  .workshop-card div:nth-child(1) p {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 100;
  }
  .workshop-card div:nth-child(2) {
      position: relative;
      padding: 10px;
      margin-right: 20px;
      border-top-right-radius: 5px;
      background: var(--color-biscuit);
  }
  .workshop-card div:nth-child(2) img{
      width: 125px;
      height: 125px;
      position: absolute;
      border-radius: 75px;
      right: 0px;
      top: -46px;
  }
  .workshop-card div:nth-child(2) h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 900;
  }
  .workshop-card div:nth-child(2) p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-weight: 100;
    margin: 5px 0px;
  }
  .workshop-card div:nth-child(2) button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    outline: none;
    border: 1px solid dimgrey;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    background: #99de13;
  }
  
  .workshop-card div:nth-child(2) button:hover {
    background: #aaff00;
  }

  
.workshop-repolink {
  margin-top: 60px;
  text-align: center;
}
.workshop-repolink a {
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  font-family: math;
}
.workshop-repolink a::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "Here More Work";
  height: 100%;
  width: 100%;
  background: var(--color-light-down-3);
  top: 0px;
  left: 0px;
  transform: translate(-5px, -5px);
  color: var(--color-dark-down);
  border: 2px solid black;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.workshop-repolink a:hover::after {
  transform: translate(0px, 0px);
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 370px) {
   .workshop-card div:nth-child(2) img {
        opacity: 0.5;
   }
}
